.panel.panel-default
  .panel-heading
    %h5
      = link_to character.name, character
  .panel-body
    %dl.dl-horizontal
      %dt Played By
      %dd= link_to character.played_by.name, user_path(character.played_by)

      %dt Description
      %dd= simple_format(character.description)

      - if character.campaign
        %dt Campaign
        %dd= link_to character.campaign.name, campaign_path(character.campaign)

        %dt Power Level
        %dd= character.campaign.power_level.name

      - if character.high_concept
        %dt High Concept
        %dd= character.high_concept.name

      - if character.trouble
        %dt Trouble
        %dd= character.trouble.name

      - character.character_phases.each do |character_phase|
        %dt= character_phase.phase.name
        %dd= character_phase.content

        %dt= "#{character_phase.phase.name} aspect"
        - if character_phase.aspect
          %dd= character_phase.aspect.name

      %dt Last Updated
      %dd= character.updated_at.strftime("%A, %F %H:%M")