- provide :title, 'Characters'

%h1 Characters

%h2= "#{pluralize(Character.count, 'character')} on system"
= link_to 'Create A New Character', new_character_path, class: 'btn btn-primary bottom-buffer' if current_user

= will_paginate @campaigns
= render @characters
= will_paginate @campaigns