.panel.panel-default
  .panel-heading
    %p<
      %h5= link_to campaign.name, campaign
      = link_to 'Edit', edit_campaign_path(campaign), class: 'pull-right btn btn-info btn-sm'
  .panel-body
    %dl.dl-horizontal
      %dt Description
      %dd= simple_format(campaign.description)

      %dt Gamemaster
      %dd= campaign.gamemaster.name

      %dt Players
      %dd= campaign.players.map { |player| player.name }.join(', ')

      %dt Last Updated
      %dd= campaign.updated_at.strftime("%A, %F %H:%M")