.navbar-fixed-top.navbar-inverse{ role: 'navigation' }
  .navbar-header
    %button.navbar-toggle{type: 'button', data: {toggle: 'collapse', target: '#collapsed-navbar' }}
      %span.sr-only Toggle navigation
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar      
    = link_to 'OotA', root_path, class: 'navbar-brand'

  .collapse.navbar-collapse#collapsed-navbar
    %ul.nav.navbar-nav
      %li.pull-left= link_to 'Campaigns', '#'
      %li.pull-left= link_to 'Characters', '#'

    %ul.nav.navbar-nav.navbar-right
      - if current_user
        %li.dropdown
          = link_to '#', class: "dropdown-toggle", "data-toggle" => "dropdown" do
            = current_user.name
            %b.caret
            
          %ul.dropdown-menu
            %li= link_to "Profile", "#"
            %li.divider
            %li= link_to "Sign Out", destroy_user_session_path, method: :delete
      - else
        %li= link_to 'Login with Google', user_omniauth_authorize_path(:google_oauth2)